
<body>
  <br>
  <br>

  <h1>Results</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <tbody>
        <% for i in @tv_show["results"]%>
        <tr>
          <td><%= i["name"]%></td>
          <td><%= i["overview"]%></td>
          <td><%= i["first_air_date"]%></td>
        </tr>
        <% end%>
      </tbody>
    </table>
  </div>


</body>
