</br></br></br>

<body>

  <div class="table">
    <table class="table table-striped">

      <thead>
        <tr style="background: #A24EBC">
          <th scope="col">Name</th>
          <th scope="col">Overview</th>
        </tr>
      </thead>

      <tbody>
        <% for i in @tv_show["results"]%>
        <tr>
          <td><%= link_to i["name"], tv_shows_show_path(:id => i["id"]) %></td>
          <td align="left"><%= i["overview"]%></td>

        </tr>
        <% end%>
      </tbody>

    </table>
  </div>

</body>
